<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

        <ion-title>
            MIS CUENTAS
        </ion-title>

        <ion-buttons end>
            <button ion-button *ngIf="_auth.activo()" (click)="_auth.cerrarSesion()">
                Salir
            </button>

        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-list>

        <ion-item *ngFor="let item of cuentas">

            <button ion-button block [color]="primary" (click)="verMisCuentas(item.type, item.name)">
                    {{ item.type }} {{ item.name }}
            </button>

        </ion-item>
    </ion-list>
</ion-content>